.modal-editar {
    &__title {
        display: flex;
        width: 100%;
    }

    &__content {
        padding: 16px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        mat-form-field {
            width: 100%;
        }
    }

    &__actions {
        display: flex;
        justify-content: flex-end;

    }
}